@import "../../variables.scss";

.g-wrapper {
  position: relative;
  top: 60px;
  left: 0;
  width: 90%;
  margin: 0 5%;
  height: calc(100% - 120px);

  > input {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    opacity: 0;
  }

  .game-main-container {
    .w-1 {
      text-align: center;
      font-family: "Poppins";
      font-size: 34px;
      color: $primary-border-color;
      word-break: break-all;

      > span {
        opacity: 0.3;
      }
    }

    .w-2 {
      text-align: center;
      font-family: "Poppins";
      font-size: 18px;
      opacity: 0.25;
      word-break: break-all;
    }
  }

  .game-start-container {
    > * {
      width: 100%;
    }
    .instructions {
      font-family: "Poppins";
      font-size: 16px;
      line-height: 1.5;
      text-align: center;
      margin: 20px 0;
      color: $primary-tc;

      > div {
        margin-top: 10px;
      }
    }

    .start-button {
      text-align: center;
      border-radius: 5px;
      width: 200px;
      padding: 15px;
      box-sizing: border-box;
      background-color: $primary-bg;
      color: $secondary-tc;
      font-family: "Sigmar One";
      font-size: 24px;
      letter-spacing: 2px;
      border-bottom: 3px solid $primary-border-color;
      cursor: pointer;

      &:active {
        background-color: $primary-border-color;
        border-bottom: 3px solid $primary-bg;
      }
    }
  }

  .game-over-container,
  .game-paused-container {
    > * {
      text-align: center;
      width: 100%;
    }

    > h3 {
      font-family: "Poppins";
      color: $primary-border-color;
    }

    > p {
      font-family: "Poppins";
      font-size: 16px;
    }

    > .restart-button,
    > .resume-button {
      border-radius: 5px;
      width: 200px;
      padding: 15px;
      box-sizing: border-box;
      background-color: $secondary-tc;
      color: $primary-border-color;
      font-family: "Poppins";
      font-size: 24px;
      letter-spacing: 2px;
      border: 1px solid $primary-border-color;
      cursor: pointer;
    }
  }

  .app-unexpected-error {
    font-family: "Poppins";
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: $primary-tc;

    > a {
      color: $primary-border-color;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .g-wrapper {
    width: 60%;
    margin: 0 20%;
  }
}
