@import "../../variables.scss";

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;

  .brand {
    font-family: "Sigmar One";
    font-size: 24px;
    background: linear-gradient(to right, $primary-bg, $primary-border-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .links {
    a {
      width: 30px;
      height: 30px;

      img {
        object-fit: contain;
      }
    }
  }
}
