@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Sigmar+One&display=swap");

body {
  margin: 0;
}

.f-jcsb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f-jcc {
  display: flex;
  justify-content: center;
  align-items: center;
}
